*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: rgb(250, 181, 244);   
	Font-family:'Playfair Display', serif;;
	font-size: 10px;
}

@media(min-widht:400px) {
	body{
		font-size: 14px;
	}
}

@media(min-widht:600px) {
	body{
		font-size: 18px;
	}
}

@media(min-widht:1200px) {
	body{
		font-size: 20px;
	}
}

header { 
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	Background-color: black;
	position: fixed;
	width: 100vw;
	top:0;
}

.menu a {
	display: block;
	padding: 10px 20px;
	transition: background-color 1s, color 1s;
}

.menu a:hover {
	background-color:rgb(100, 247, 215) ;
	color: black;
}

a {
	color:rgb(100, 247, 215);
 	text-decoration: none;
}

a.hover {
	text-decoration: underline;
}

.menu ul {
	Display: flex;
	Justify-content: space-around;
}

.menu li {
    List-style:none;
}

.titulo{
	transform: scale(0.2) translateY(50vh);
	opacity: 0;
	animation:2s linear 1s animacaoTitulo forwards ;
}

@keyframes animacaoTitulo{
	0%{
		transform: scale(0.2) translateY(50vh);
		opacity: 0;
	}
	100%{
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

.site-subtitle, .site-title{
	Color: rgb(19, 138, 235);	
	text-align: center;
	font-family: 'Sacramento', cursive;
	font-size: 3em
}

.site-subtitle{
	 Font-style: italic; 
	 font-family:'Tangerine', cursive;;
	 line-height: 1,8;
}

.sobre,
.contato,
.portfolio {
	padding: 1.8em;
	min-height: 100vh;
	
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}

.sobre h2,
.contato h2,
.portfolio h2 {
	font-family: 'Playfair Display', serif;
	text-align: center;
	margin-bottom: 1.5em;
	font-size: 2em;
}

.sobre p{
	color: black;
	font: 18px;
	text-indent: 3em;
	margin-bottom: 0.5em;
	text-align: justify;
}

.sobre a{
	color: rgb(95, 242, 227);
	font: 18px;
	text-decoration: underline;
}

.sobre .avatar {
	float: right;
	margin-left: 1em;
}

.sobre .avatar img {
	height:300px;
	width: 300px;
}

.sobre .tit {
	text-align: center;
	font: 400em;
	font-style: unset;

}

.portfolio .grid{
	display: grid;
	gap: 2em;
}

@media (min-width: 560px) {
	.portfolio .grid {
	grid-template-columns: 240px;
	}
}

@media (min-width: 880px) {
	.portfolio .grid {
	grid-template-columns: repeat(3,240px);
	justify-content: center;
	align-content: center;
	height: calc(100vh - 8em - 48px);
	
	}
}

.portfolio . figure {
	text-align: center;
}

.img-portfolio  {
	color: rgb(154, 67, 189); height: 180px;
	width: 240px;
	object-fit: cover;
	object-position: center;
	transition: transform 500ms;
}

.img-portfolio:hover{
	transform: scale(1.2);
}

.contato .icons {
	text-align: center;
}

.contato a {
	color:rgb(9, 245, 194);
	font-size: 8em;
	transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover{
	text-decoration: none;
	text-shadow:0px 0px 10px rgb(154, 67, 189);
}

