*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: rgb(248, 164, 230);   
	Font-family: Arial;
	font-size: 10px;
}

@media(min-widht:400px) {
	body{
		font-size: 14px;
	}
}
@media(min-widht:600px) {
	body{
		font-size: 18px;
	}
}
@media(min-widht:1200px) {
	body{
		font-size: 20px;
	}
}
header { 
	height:50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	Background-color: black;
	position: fixed;
	width: 100vw;
	top:0;
}

a {
    color: rgb(9, 245, 233);
 	text-decoration: none;
}

a.hover {
	text-decoration: underline;
}

.menu ul {
	Display: flex;
	Justify-content: space-around;
}

.menu li {
    List-style:none;
}

.menu a {
	display: block;
	padding: 10px 20px;
}
.site-subtitle, .site-title{
	Color: rgb(19, 138, 235);	
	text-align: center;
}

.site-subtitle{
	 Font-style: italic; 
}

.img-portfolio {
	height: 180px;
	width: 180px;
}
