body {
    background: yellow;   
    Font-family: Arial;
    
}

.menu {
	Background-color: black;
}

a {
    color: teal;
 	text-decoration: none;
}

a: hover {
text-decoration: underline;
}

.menu ul {
	Display: flex;
	Justify-content: space-around;
}

.menu li {
    List-style:none;
}

.site-subtitle, .site-title{
	Color: whitesmoke;
    Text-align: center;
}

.site-subtitle{
 	Font-style: italic;
}
